.inputs {
    display: flex;
    flex-direction: column;
}

.register_container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.signup_outer {
    background: none;
    margin-left: 10px;
}

.signup_inner {
    text-decoration: none;
    color: black;
}