.nav {
    height: 100%;
    position: fixed;
    width: 10%;
}

main {
    display: flex;
    margin-left: 10%;
    justify-content: center;
    /* margin-right: 20%; */
    /* height: 100%; */
    /* width: 92%; */
}